/* =============
    Plans
============= */
#plans{
    ul{
        display: flex;
        li{
            padding: 30px;
            list-style: none;

            h3{
                font-size: rem-calc(22);
                font-weight: 500;
            }

            h1{
                font-size: rem-calc(44);
                font-weight: 600;
            }

            p{
                font-size: rem-calc(16);
                font-weight: 400;
            }

            button{
                font-size: rem-calc(16);
                font-weight: 500;
                transition: 0.5s;
                cursor: pointer;
            }
            button:hover{
                background-color: lightpink;
            }
        }
    }
}