/* =============
    Header
============= */
header{
    padding: 22px;
    border-radius: 6px;
    margin-top: 5px;
}

#header{

    nav{
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li{
                list-style: none;
                // LOVE HATE
                a:link, a:visited{
                    font-size: rem-calc(18);
                    font-weight: 400;
                    color: white;
                    text-decoration: none;
                    padding: 0px 20px;
                    display: inline-block;
                    transition: 0.5s;
                }
                a:hover, a:active{
                    color: lightpink;
                }
                a.selected{
                color: var(--light-blue);
                }
            }
        }
    }
    button{
        font-size: rem-calc(18);
        font-weight: 500;
        transition: 0.5s;
        cursor: pointer;
    }
    button:hover{
        background-color: lightpink;
    }
}