/* =============
    Header
============= */
header{
    padding: 0px 24px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 
    "logo burger"
    "nav nav"
    "buttons buttons";
    
    @include md{
        grid-template-columns: 25% 72% auto;
        grid-template-areas: 
        "logo buttons burger"
        "nav nav nav";
    }

    @include xl{
        grid-template-columns: 25% 56% auto;
        grid-template-areas: 
        "logo nav buttons";
    }

    #logo-container{
        // border: 1px solid green;
        display: flex;
        align-items: center;
        grid-area: logo;
    }

    #burger-container{
        // border: 1px solid red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: burger;
        
        @include xl{
            display: none;
        }
    }

    #buttons-container{
        // border: 1px solid black;
        margin: 20px 0px;
        gap: 16px;
        // height: 50%;
        // width: min-content;
        // box-sizing: border-box;
        
        display: none;

         @include md{
            // display: block;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            grid-area: buttons;
        }
    }

    nav{
        grid-area: nav;
        // see nav partional for scss        
    }
}