/* =============
    Buttons
============= */
button{
    border: none
}

.everest-btn{
    background-color: var(--everest);
    color: var(--cream);
    padding: 16px 24px;
    border-radius: 8px;
    transform: 0.5s;
    cursor: pointer;
    // border: 1px solid red;
}

.everest-btn:hover{
    background-color: lightpink;
}

.trans-btn{
    background-color: var(--cream);
    color: #0A157A;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #0A157A;
    transform: 0.5s;
    cursor: pointer;
}

.trans-btn:hover{
    background-color: lightpink;
}