/* =============
    Buttons
============= */
button{
    border: none;
    background-color: transparent; 
    padding: 0;
    margin: 0px 10 px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    // align-content: space-around;
}

.everest-btn{
    background-color: var(--everest);
    color: var(--cream);
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid var(--everest);
    transform: 0.5s;
}

.everest-btn:hover{
    background-color: var(--gray);
}

.trans-btn{
    background-color: var(--cream);
    color: var(--dark-gray);
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid var(--dark-gray);
    transform: 0.5s;
}

.trans-btn:hover{
    background-color: var(--gray);
}

.close-btn{
    background-color: var(--red);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cream);
}