/* =============
    Navigation
============= */
.showMainNav{
    display: block !important;
}

a{
    text-decoration: none;
}

#mainNav{
    display: none;
    margin-top: 20px;

    @include md{
        display: none;
    }

    @include xl{
        display: block;
    }


    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        //border: 1px solid blue;

        @include xl{
            flex-direction: row;
            width: 80%;
            // border: 1px solid red;
        }
        
        li{
            width: 100%;
            //border: 1px solid red;
            a:link, a:visited{
                // border: 1px solid aqua;
                padding: 28px 0px 40px 0px;
                text-align: right;
                border-bottom: 1px solid var(--gray);
                display: inline-block;
                color: var(--gray);
                transition: 0.5s;
                width: 100%;

                @include xl{
                    // border: 1px solid aqua;
                    padding: 16px;
                    margin-bottom: 20px;
                    text-align: center;
                    border-bottom: none;
                }
            }

            a:hover, a:active{
                color: var(--everest);
                font-weight: 600px;
            }
        }
    }
}