/* =============
    Base
============= */
.show-Sign-In-Container{
    display: flex !important;
}

.hide-burger-x{
    display: none !important;
}

.hide-burger-bars{
    display: none !important;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

#validation-logo{
    text-align: center;
    margin-top: 50px;
}